@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import "global";


.header {
  background: url("../img/back.jpg") no-repeat;
  background-size: cover;
}


.logo__img {
  height: 72px;
  width: 137px;
  z-index: 6;
  position: relative;
}

.header__inner-item {
  display: flex;
  align-items: center;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $color-text;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__inner-top {
  padding-bottom: 463px;
  padding-top: 16px;
}

.header__inner-bottom {
  display: flex;
  flex-direction: column;
  padding-bottom: 82px;
}

.header__calendar {
  padding: 40px 43px;
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: rgba(255, 255, 255, 0.20);
  gap: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__btn {
  width: 30px;
  height: 25px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.menu__list {
  gap: 24px;
  display: flex;
  align-items: center;
}

.menu__list-close {
  display: none;
}

.menu__consultation-btn {
  @extend %button;
  margin-left: 13px;
  height: 44px;
  line-height: 125%;
}

.header__title {
  font-size: 50px;
  margin-bottom: 41px;
  max-width: 979px;
}

.calendar__fields-item {
  height: 52px;
  width: 100%;
  border-radius: 8px;
  background: inherit;
  padding: 14px 16px;
  margin-bottom: 8px;
  cursor: url("../img/footer-pointer.png"), auto;
  appearance: none;
  border: none;

  &::placeholder {
    color: $color-text;
  }
}

.calendar__support-text {
  padding-left: 8px;
}

.calendar__search-btn--mobile {
  display: none;
}

.header__calendar-input {
  color: $color-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  width: 100%;
}

.icon__arrow {
  background: rgba(255, 255, 255, 0.20) url("../img/arrow-down.svg") no-repeat center right 16px;
}

.icon__calendar {
  background: rgba(255, 255, 255, 0.20) url("../img/calendar.svg") no-repeat center right 16px;
}

.calendar__search-btn {
  @extend %button;
  height: 52px;
  font-weight: 700;
  max-width: 250px;
}

.about__inner {
  @extend %inner;
  gap: 250px;
}

.about__text {
  @extend %main-text;
}

.about__title {
  @extend %title;
}

.about__descr {
  max-width: 580px;
  font-size: 18px;
  line-height: 150%;
  padding: 40px 0;

}

.programms, .blog {
  background-color: $color-background;
}

.about__programm-btn {
  @extend %button;
}

.about__imgs-group {
  position: relative;
}

.about__imgs-group--mobile {
  display: none;
}

.about__imgs-item {
  position: absolute;
  top: 26%;
  left: 35%;
}

.about__img {
  border-radius: 7%;
}

.about__item-videobtn {
  position: absolute;
  padding-top: 4px;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(253, 253, 253, 0.60);
}

.about__item-videobtn img {
  position: absolute;
  top: 30%;
  left: 30%;
}

.programms__inner {
  @extend %inner;
  gap: 90px;
}

.title__descr {
  font-size: 18px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.216px;
  padding-bottom: 4px;
}

.text__descr {
  color: #000;
  font-size: 14px;
  line-height: 142.857%;
}

.programms__list-items {
  padding-bottom: 40px;
  display: flex;
  gap: 16px;
}

.programms__cost-btn {
  @extend %button;
}

.programms__imgs {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  align-content: center;
}

.popdest__inner {
  @extend %inner;
  flex-direction: column;
  align-items: center;
}

.popdest__info {
  .about__text {
    text-align: center;
  }

  .about__title {
    text-align: center;
  }
}

.popdest__swiper {
  display: none;
}

.popdest__item {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 50px;
}

.popdest__programm-btn {
  @extend %button;
}

.popdest__img-item {
  position: relative;
  border-radius: 32px;
}

.popdest__rating {
  position: absolute;
  right: 0;
  top: 17%;
  padding: 4px 8px 4px 36px;
  color: #1A3E3E;
  font-size: 14px;
  font-weight: 700;
  line-height: 128.571%;
  border-radius: 4px 0 0 4px;
  background: rgba(253, 253, 253, 0.40);
  backdrop-filter: blur(2px);

  &::before {
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    right: 31px;
    bottom: -8px;
    width: 24px;
    height: 33px;
  }
}

.popdest__descr {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  padding: 20px 32px 23px;
  border-radius: 0 0 32px 32px;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(3px);
  color: $color-text;
  overflow: hidden;

  &:hover {
    border-radius: 32px;
    top: 0;
    transition: 1ms ease-in-out;
  }
}

.popdest__descr-header {
  display: flex;
  justify-content: space-between
}

.popdest__descr-body {
  top: 38px;
  position: absolute;
  flex-direction: column;
  padding-right: 32px;
  line-height: 150%;

  & p {
    padding: 115px 0 105px;
  }
}

.popdest__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.popdest__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
}

.popdest__price {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.30);
  margin-left: 10px;
}

.blog__inner {
  @extend %inner;
  flex-direction: column;
  align-items: center;
}

.blog__text {
  @extend %main-text;
}

.blog__title {
  @extend %title;
}

.blog__descr {
  padding-bottom: 40px;
}

.blog__swiper {
  display: none;
}

.blog__articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 20px;
}

.blog__articles-items {
  display: flex;
  padding: 16px;
  border-radius: 10px;
  background: $color-text;
  max-height: 312px;
  cursor: url("../img/green-pointer.svg"), auto;
}

.article__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0 16px 24px;
}

.article__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
}

.article__text {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 142.857%;
  padding: 24px 0;

}

.article__bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  line-height: 142.857%;
}

.article__data {
  color: #F2BE22;
}

.photos {
  position: relative;
}

.photos__inner {
  @extend %inner;
  flex-direction: column;
  align-items: center;
  padding-bottom: 198px;
}

.photos__swiper {
  display: none;
}

.photos__descr {
  padding-bottom: 40px;
  text-align: center;
}

.photos__text {
  @extend %main-text;
}

.photos__title {
  @extend %title;
}

.photos__imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-bottom: 50px;
}

.photo {
  cursor: url("../img/loupe.svg"), auto;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  width: 100%;

  &:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

.photos__img-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.photos__img-item-5 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.pinterest__link {
  @extend %button;
  padding: 16px 36px;
  color: $color-text;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.192px;
}

.subscribtion__inner {
  padding: 40px 100px 40px;
  border-radius: 6px;
  background: $color-text;
  box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
}

.subscribtion__text {
  color: #F2BE22;
  font-size: 18px;
  padding-bottom: 8px;
}

.subscribtion__title {
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 31.2px;
}

.form {
  padding-left: 10px;

  & a {
    text-decoration-line: underline;
  }
}

.form__btn {
  @extend %button;
  padding: 12px 24px;
  color: $color-text;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.192px;
}

.form__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  padding-bottom: 8px;
}

.form__input {
  padding-bottom: 8px;
}

.form__input {
  height: 52px;
  width: 280px;
  border-radius: 4px;
  background: #F3F5F4;
  padding: 12px 16px;
  margin-bottom: 8px;
  margin-right: 16px;

  &::placeholder {
    color: #18121E;
    font-size: 14px;
    font-weight: 300;
  }
}

.subscribtion__inner {
  position: absolute;
  bottom: -98px;
  left: 50%;
  transform: translate(-50%);
  width: 98%;
}

.footer {
  background-color: #1A3E3E;
}

.footer__inner {
  @extend %inner;
  padding-top: 178px;
  color: $color-text;
  display: flex;
}

.company__info {
  padding: 0 15px;
}

.company__title {
  padding-bottom: 17px;
}

.company__text {
  padding-bottom: 80px;
}

.footer__social {
  padding-top: 32px;
  display: flex;
  gap: 15px;
}

.services__title {
  padding-bottom: 20px;
  color: #F3F5F4;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

.label {
  cursor: url("../img/footer-pointer.png"), auto;
  padding-left: 18px;
  margin-bottom: 16px;
  position: relative;

  &::before {
    content: url("../img/arrow-right.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.content__label {
  position: relative;
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height 0.5s ease-out;
}

.active {
  &.label {
    color: #F2BE22;
    text-decoration-line: underline;

    &::before {
      content: url("../img/arrow-down-yellow.png");
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.swiper {
  display: none;
}

@media (max-width: 1140px) {
  .header__calendar {
    grid-template-columns: repeat(3, 1fr);
  }
  .popdest__item {
    grid-template-columns: repeat(2, 1fr);
  }
  .popdest__img-item {
    width: 100%;
  }
  .popdest__title {
    font-size: 20px;
  }
  .popdest__descr-body p {
    font-size: 14px;
  }
  .popdest__price {
    font-size: 18px;
  }
  .programms__inner {
    gap: 30px;
  }
}

@media (max-width: 1000px) {
  .blog__img {
    width: 250px;
    margin: 0 auto;
  }
  .blog__articles-items {
    min-height: 610px;
    flex-direction: column;
  }

}

@media (max-width: 900px) {
  .header__title {
    font-size: 40px;
  }

  .header__calendar {
    grid-template-columns: repeat(2, 1fr);
  }
  .img__list-img {
    width: 60px;
    margin: 0 auto;
  }
  .about__img{
    width: 250px;
  }
  .programms__imgs {
    grid-template-columns: 1fr;
  }
  .label.header__calendar-input {
    max-width: 350px;
  }
  .menu__list {
    width: 100%;
    height: 90%;
    background: #1A3E3E;
    color: $color-text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.571%;
    flex-direction: column;
    gap: 20px 0;
    padding: 50px 16px 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(150%);
    transition: transform .5s ease;
    z-index: 5;
  }

  .menu__list.menu--open {
    transform: translateY(0%);
  }
  .menu__list-close {
    display: flex;
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .menu__btn {
    display: flex;

    & span {
      width: 30px;
      height: 4px;
      background: $color-text;
      border-radius: 20px;
    }
  }
  .calendar__search-btn {
    margin: 0 auto;
  }

  .about__inner {
    gap: 180px;
  }

  .about__descr {
    max-width: 580px;
    padding: 0 0 20px;
  }
  .img__programms-3,
  .img__programms-4 {
    display: none;
  }
  .article__text {
    max-height: 99px;
    box-sizing: content-box;
  }
}

@media (max-width: 800px) {
  .popdest__item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 700px) {
  .about__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about__descr {
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  .programm-btn {
    margin: 0 auto;
  }

}

@media (max-width: 600px) {
  .container {
    padding: 40px 10px 50px;
  }
  .calendar {
    display: none;
  }
  .header__inner-top {
    align-items: center;
    padding-bottom: calc(264px / 600);
  }
  .programms__imgs {
    display: none;
  }
  .photos__imgs {
    gap: 10px;
  }
  .article__title {
    font-size: 20px;
  }
  .blog__articles-items {
    min-height: 530px;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
  }
  .blog__articles {
    grid-template-columns: 1fr;
  }
  .subscribtion__inner {
    flex-direction: column;
  }
  .footer__inner {
    padding-top: 178px;
    flex-direction: column-reverse;
  }
  .photos__inner {
    padding-bottom: 335px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }
  .mobile {
    display: flex;
    align-items: center;
  }
  .consultation-btn {
    display: none;
  }
  .logo__img {
    width: 84px;
    height: 44px;
    flex-shrink: 0;
  }


  .header__inner-bottom {
    align-items: flex-start;
  }

  .header__title {
    font-size: 28px;
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 0;
  }

  .header__calendar {
    display: none;
  }
  .calendar__search-btn--mobile {
    position: relative;
    left: 0;
  }

  .about__text,
  .photos__text,
  .programms__text,
  .about__descr {
    font-size: 16px;
  }
  .about__descr {

    padding: 24px 0;
  }
  .about__title {
    font-size: 24px;
  }
  .about__imgs-group {
    display: none;
  }
  .about__imgs-group--mobile {
    display: flex;
    position: relative;
  }
  .about__descr, .about__img {
    margin: 0 auto;
  }
  .programms__list-items {
    align-items: flex-start
  }

  .popdest__info {
    margin: 0 auto;
  }
  .blog__descr {
    text-align: center;
  }
  .blog__swiper {
    display: flex;
  }
  .blog__articles {
    display: none;
  }
  .blog__inner {
    display: block;
  }

  .blog__articles-items {
    flex-direction: column;
    padding: 0;
  }
  .article__descr {
    padding: 16px;
  }
  .blog__img {
    height: 280px;
  }
  .article__title {
    font-size: 20px;
  }
  .article__text {
    height: 80px;
  }
  .photos__inner {
    align-items: start;
  }
  .photos__descr, .pinterest__link {
    margin: 0 auto;
  }

  .popdest__inner {
    align-items: start;

    & .programm-btn {
      margin: 0 auto;
    }
  }
  .popdest__item {
    display: none;
  }
  .popdest__swiper {
    display: block;
  }
  .swiper-slide {
    max-width: 300px;
    overflow: hidden;
  }
  .popdest__swiper-slide {
    text-align: center;
    max-width: 300px;
    overflow: hidden;
  }
  .popdest__img-item {
    max-width: 285px;
  }
  .photos__swiper {
    display: block;
  }
  .photos__swiper, .popdest__swiper {
    width: 300px;
    padding-bottom: 32px;
  }
  .popdest__descr {
    padding: 25px 24px;
    width: 236px;

    &:hover {
      .popdest__text {
        display: block;
        font-size: 12px;
      }
    }
  }
  .popdest__descr-body p {
    padding: 54px 0 20px;
    font-size: 12px;
  }
  .popdest__programm-btn {
    border: none;
    cursor: url("../img/footer-pointer.png"), auto;
    font-family: inherit;
    justify-content: center;
    align-items: center;
    background-color: #1A3E3E;
    border-radius: 4px;
    color: $color-text;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.192px;
    padding: 11px 30px;
    font-size: 14px;
    margin: 0 25%;
  }
  .popdest__text {
    display: none;
  }
  .popdest__title {
    font-size: 18px;
  }
  .popdest__price {
    font-size: 16px;
    padding: 6px 12px;
    margin-left: 0;
  }
  .photos__imgs {
    display: none;
  }

  .subscribtion__inner {
    flex-direction: column;
  }

  .footer__inner {
    flex-direction: column;
    gap: 50px;
  }

  .form__btn {
    margin-bottom: 24px;
  }
}

.daterangepicker .drp-buttons .btn {
  border-radius: 2px;
  border: none;
}

.applyBtn {
  background-color: rgba(40, 187, 40, 0.99);
}