@import "reset";

%button {
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  justify-content: center;
  align-items: center;
  background-color: #1A3E3E;
  border-radius: 4px;
  font-size: 16px;
}

%inner {
  padding: 80px 0 100px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: Nunito Sans, cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
}


.header {
  background: url("../../img/back.jpg");
}


.container {
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
}

.logo__img {
  height: 72px;
  width: 137px;
}

.header__inner-item {
  display: flex;
  align-items: center;
}

.header__inner {
  display: flex;
  color: #FDFDFD;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__inner--top {
  padding-bottom: 463px;
  padding-top: 16px;
}

.header__inner--bottom {
  display: flex;
  flex-direction: column;
  padding-bottom: 82px;
}

.menu {
  display: flex;
}

.menu__list {
  gap: 24px;
  padding-left: 212px;
  display: flex;
  align-items: center;
}

.consultation-btn {
  padding: 12px 24px;
  @extend %button;
  position: relative;
  margin-left: 13px;
  height: 44px;
  color: #FDFDFD;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.192px;
}

.name {
  font-size: 50px;
  margin-bottom: 41px;
  width: 979px;
}

.calendar__fields {
  padding: 40px 43px;
  width: 1180px;
  height: 161px;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.20);
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%
}

.calendar__fields-item {
  height: 52px;
  width: 270px;
  border-radius: 8px;
  background: inherit;
  padding: 14px 16px;
  margin-bottom: 8px;
  cursor: pointer;

  &::placeholder {
    color: #FDFDFD;
  }
}

.support__text {
  padding-left: 8px;
}

label.input__group {
  color: #FDFDFD;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  width: 270px;
}

.calendar__fields-item.icon__arrow {
  background: rgba(255, 255, 255, 0.20) url("../../img/arrow-down.svg") no-repeat center right 16px;
}

.calendar__fields-item.icon__calendar {
  background: rgba(255, 255, 255, 0.20) url("../../img/calendar.svg") no-repeat center right 16px;
}

.search-btn {
  border-radius: 4px;
  background: #FDFDFD;
  padding: 16px 36px;
  height: 52px;
  color: #1A3E3E;
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
}

.about__inner {
  @extend %inner;
  gap: 250px;
}

.about__text {
  font-size: 24px;
  line-height: 20px;
  color: #F2BE22;
  padding-bottom: 8px;
}

.about__title {
  color: #18121E;
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
}

.about__descr {
  color: #18121E;
  font-size: 18px;
  line-height: 150%;
  padding: 40px 0;
}

.program-btn {
  @extend %button;
  padding: 16px 36px;
  color: #FDFDFD;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.192px;
}

.about__imgs--group {
  position: relative;
}

.about__imgs--group-item-1 {
  position: absolute;
  top: 26%;
  left: 35%;
}

.about__imgs--group-item {
  position: relative;
}

.about__img-2 {
  border-radius: 7%;
}

.about__item-videobtn {
  position: absolute;
  padding-top: 4px;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(253, 253, 253, 0.60);
}


.programs__inner {
  @extend %inner;
  gap: 90px;
}

.title__descr {
  color: #18121E;
  font-size: 18px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.216px;
  padding-bottom: 4px;
}

.text__descr {
  color: #000;
  font-size: 14px;
  line-height: 142.857%;
}

.programs__list--items {
  padding-bottom: 40px;
  display: flex;
  gap: 16px;
}

.programs__imgs {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

.popdest__inner {
  @extend %inner;
  flex-direction: column;
  align-items: center;
}

.popdest__info {
  .about__text {
    text-align: center;
  }

  .about__title {
    text-align: center;
  }
}

.popdest__item {
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
}

.popdest__img--item {
  position: relative;
}

.popdest__rating {
  position: absolute;
  right: 0;
  top: 17%;
  padding: 4px 8px 4px 36px;
  color: #1A3E3E;
  font-size: 14px;
  font-weight: 700;
  line-height: 128.571%;
  border-radius: 4px 0 0 4px;
  background: rgba(253, 253, 253, 0.40);
  backdrop-filter: blur(2px);
}

.popdest__rating::before {
  background-image: url(../../img/star.svg);
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  right: 31px;
  bottom: -8px;
  width: 24px;
  height: 33px;
}

.popdest__descr {
  position: absolute;
  justify-content: space-between;
  width: 100%;
  bottom: 4px;
  display: flex;
  padding: 20px 32px 23px;
  border-radius: 0 0 32px 32px;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(3px);
  color: #FDFDFD;
}

.popdest__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.popdest__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
}

.popdest__price {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.30);
  margin-left: 10px;
}

.blog__inner{
  @extend %inner;
  flex-direction: column;
  align-items: center;
  background: #F3F5F4;
}
.blog__descr{
  padding-bottom: 40px;
}
.blog__articles{
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px 20px;
}
.blog__articles--items{
  display: flex;
  padding: 16px;
  border-radius: 10px;
  background: #FDFDFD;

}
.article__descr{
  display: flex;
  flex-direction: column;
  padding: 16px 0 16px 24px;
}
.article__title{
  color: #18121E;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
}
.article__text{
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 0 0;
  color: #18121E;
  font-size: 14px;
  line-height: 142.857%;
  padding: 24px 0;
}
.article__bottom{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  line-height: 142.857%;
}
.article__data{
  color: #F2BE22;
}